.systemBackground {
    -fx-background-color: #000000FF;
}

.secondarySystemBackground {
    -fx-background-color: #1C1C1EFF;
}

.tertiarySystemBackground {
    -fx-background-color: #2C2C2EFF;
}

.secondarySystemBackground {
    -fx-background-color: #1d1d1d;
}

.primarylabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFFFF;
    -fx-opacity: 0.6;
}

.secondaryLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #EBEBF599;
    -fx-opacity: 1;
}

.tertiaryLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #EBEBF54D;
    -fx-opacity: 0.6;
}

.quaternaryLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #EBEBF52E;
    -fx-opacity: 1;
}

.separator {
	-fx-background-color: #54545899;
}


.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    /*-fx-background-color: derive(#1d1d1d,20%);*/
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.imageButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.imageButton:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}